h1{
text-align: center;
}
.experience1{
position: absolute;
bottom: 300px;
left: 280px;
font-family:'Abril Fatface', serif;
}
.Me1{
text-align: center
}
.interest{
text-align: center	
}
.Homepage{
position: absolute;
right:10px;
bottom: 650px;
}